<div class="row">
  <div class="col-md-12 hot-table-wrapper">
    <h2>Enter your data</h2>
    <div class="hot-table" hot-table
      datarows="data"
      contextMenu="true"
      rowHeaders="false"
      startCols="5"
      startRows="5">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3 hot-table-wrapper">
    <hr />
    <form class="form">
      <h2>Configure</h2>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="paging">
          Enable pagination
        </label>
      </div>
      <div class="form-group" ng-show="paging">
        <label>
          <input type="number" class="form-control" ng-model="recordsPerPage">
          Rows per page
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="searching">
          Enable searching
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="ordering">
          Enable ordering
        </label>
      </div>
    </form>
  </div>

  <div class="col-md-9">
    <hr />
    <h2>Sample output</h2>
    <table datatable="ng" dt-options="dataTableOptions" class="row-border hover" ng-if="dataSet">
        <thead>
          <tr>
              <th ng-repeat="heading in data[0] track by $index">{{heading}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in dataSet track by $index" ng-if="$index > 0">
              <td ng-repeat="cell in row track by $index">{{cell}}</td>
          </tr>
        </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
  <hr />
  <h2>Embed code</h2>

  <h4>1. Resources</h4>
  <textarea class="form-control bs-monospace" rows="4">{{resources}}</textarea>

  <h4>2. HTML</h4>
  <textarea class="form-control bs-monospace" rows="3">{{html}}</textarea>

  <h4>3. JavaScript</h4>
  <textarea class="form-control bs-monospace" rows="12">{{script}}</textarea>
  </div>
</div>